@charset "UTF-8";
/* CSS Document */

body
/*脳背景*/{
	background-image: url("買い物でか.gif" );
	margin: 0px;
	padding: 0px;
	height: auto;
	width: auto;
	background-size: contain;
	background-position: center;
	background-attachment: fixed;}

.home{
				 position: fixed;
				margin-left: 10px;
				top: 3px;

			}